<div class="left-button">
  <%= link_to "ユーザー一覧に戻る", users_path  %>
</div>
<h2><%= current_user.name %>とのチャット</h2>

<div class="message" style="width: 400px;">
  <% @messages.each do |m| %>
    <% if m.user_id == current_user.id %>
      <p style="text-align: right;"><%= m.message %></p>
    <% else %>
      <p style="text-align: left;"><%= m.message %></p>
    <% end %>
  <% end %>
</div>

   <div class="posts">
    <%= form_with model:@message, data: {remote: true} do |f| %>
      <%= f.text_field :message, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
    <% end %>
  </div>

